---

import Image from "astro/components/Image.astro"
import hero_screens from "../assets/theme-images/application-screen5.png"
import apple_icon from "../assets/theme-images/apple-icon1.png"

const { settings, title, content } = Astro.props

---

<section class="bs-container py-6 flex flex-col items-center mb-24">

  <!-- Content -->
  <div class="flex flex-col gap-6 max-w-4xl w-full py-16 text-center">

    <!-- Title -->
    <h1 class="bs-h1" set:html={ title } />

    <!-- Content -->
    <div class="bs-body-text xl:text-xl flex flex-col gap-4 [&_p]:last:text-bs-foreground-dark" set:html={ content } />

    <!-- CTA -->
    <!-- <button type="button" class="bs-btn bs-mt-sm mx-auto" onclick="demo.showModal()">
      { settings.demo.cta }
    </button> -->
    <button type="button" class="border py-3 px-5 rounded-full bs-mt-sm mx-auto bg-black border-black hover:translate-y-[-2px] transition-transform" onclick="demo.showModal()">
      <span class="text-md font-semibold inline-flex items-center rounded-full">
        <Image src={ apple_icon } format="png" quality="medium" alt="Apple icon" loading="eager" class="inline-block mr-2 w-5" />
        Download for Mac
      </span>
    </button>

  </div>

  <!-- Image -->
  <figure class="flex place-content-center w-full">

    <Image src={ hero_screens } format="png" quality="high" alt="Screens showing phone, tablet and desktop views of our website" loading="eager" class="w-1/2 h-auto hover:scale-105 transition-transform duration-500" />

  </figure>

</section>